.nav-link {
  color: white !important;
  font-weight: bold;
  font-size: large;
}
.display-name {
  color: white !important;
  font-weight: bold;
  font-size: larger;
}
.logout-btn {
  background: none !important;
  border: none !important;
  color: red !important;
  font-size: larger !important;
  font-weight: bold !important;
  font-size: large;
}
a {
  text-decoration: none !important;
}
.header-section a:hover {
  color: rgba(14, 202, 139, 0.842) !important;
}
.logout-btn:hover {
  color: rgb(17, 230, 183) !important;
}
